@import url("https://fonts.googleapis.com/css2?family=Kavoon:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-kavoon: Kavoon;

  /* font sizes */
  --font-size-17xl: 36px;
  --font-size-3xl: 22px;
  --font-size-10xl: 29px;
  --font-size-base: 16px;
  --font-size-21xl: 40px;
  --font-size-5xl: 24px;
  --font-size-13xl: 32px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-77xl: 96px;
  --font-size-29xl: 48px;
  --font-size-45xl: 64px;
  --font-size-19xl: 38px;
  --font-size-32xl: 51px;

  /* Colors */
  --color-skyblue-100: #06bee1;
  --color-skyblue-200: rgba(6, 190, 225, 0.94);
  --color-gray-100: #0a0606;
  --color-gray-200: #010101;
  --color-gainsboro: #e7e0e0;
  --color-black: #000;
  --color-khaki-100: #ffee88;
  --color-khaki-200: #e6d46e;
  --color-khaki-300: rgba(240, 211, 137, 0.37);
  --color-white: #fff;
  --color-teal: #006c67;
  --color-silver: #acb9b3;
  --color-deepskyblue: rgba(0, 166, 199, 0.94);

  /* Gaps */
  --gap-36xl: 55px;
  --gap-8xl: 27px;
  --gap-46xl: 65px;
  --gap-13xl: 32px;
  --gap-27xl: 46px;
  --gap-4xl: 23px;
  --gap-21xl: 40px;
  --gap-xl: 20px;
  --gap-89xl: 108px;
  --gap-59xl: 78px;
  --gap-22xl: 41px;
  --gap-25xl: 44px;
  --gap-68xl: 87px;
  --gap-3xl: 22px;
  --gap-24xl: 43px;
  --gap-5xl: 24px;
  --gap-32xl: 51px;
  --gap-29xl: 48px;
  --gap-73xl: 92px;
  --gap-lgi: 19px;
  --gap-56xl: 75px;
  --gap-18xl: 37px;
  --gap-2xl: 21px;

  /* Paddings */
  --padding-52xl: 71px;
  --padding-25xl: 44px;
  --padding-9xl: 28px;
  --padding-xl: 20px;
  --padding-30xl: 49px;
  --padding-lgi: 19px;
  --padding-60xl: 79px;
  --padding-20xl: 39px;
  --padding-10xl: 29px;
  --padding-56xl: 75px;
  --padding-27xl: 46px;
  --padding-28xl: 47px;
  --padding-6xs: 7px;
  --padding-16xl: 35px;
  --padding-7xs: 6px;
  --padding-5xl: 24px;
  --padding-4xs: 9px;
  --padding-11xs-5: 1.5px;
  --padding-6xl: 25px;
  --padding-14xl: 33px;
  --padding-3xl: 22px;
  --padding-40xl: 59px;
  --padding-17xl: 36px;
  --padding-32xl: 51px;
  --padding-21xl: 40px;
  --padding-2xl: 21px;
  --padding-41xl: 60px;
  --padding-11xl: 30px;
  --padding-26xl: 45px;
  --padding-12xl: 31px;
  --padding-8xl: 27px;
  --padding-10xs: 3px;
  --padding-38xl: 57px;
  --padding-8xs: 5px;
  --padding-4xl: 23px;
  --padding-13xl: 32px;
  --padding-33xl: 52px;
  --padding-7xl: 26px;
  --padding-34xl: 53px;
  --padding-sm: 14px;
  --padding-5xs: 8px;
  --padding-xs: 12px;
  --padding-15xl: 34px;
  --padding-29xl: 48px;
  --padding-11xs: 2px;
  --padding-51xl: 70px;
  --padding-49xl-5: 68.5px;
  --padding-xl-5: 20.5px;
  --padding-61xl: 80px;
  --padding-mini: 15px;
  --padding-smi: 13px;
  --padding-59xl: 78px;
  --padding-base: 16px;
  --padding-416xl: 435px;
  --padding-264xl: 283px;
  --padding-165xl: 184px;
  --padding-35xl: 54px;
  --padding-mid: 17px;
  --padding-208xl: 227px;
  --padding-92xl: 111px;

  /* Border radiuses */
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-mini: 15px;
  --br-6xs: 7px;
  --br-11xs: 2px;
}
