.icbaselineEmail {
  height: 24px;
  width: 24px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
}
.address1 {
  margin-left: -413px;
  width: 225px;
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  flex-shrink: 0;
  z-index: 1;
}
.frameChild {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2px;
  height: 40px;
}
.entypoaddressIcon {
  position: absolute;
  top: 0.5px;
  left: 16px;
  width: 31px;
  height: 31px;
  overflow: hidden;
}
.vectorParent {
  height: 40px;
  width: 47px;
  position: relative;
  flex-shrink: 0;
}
.icbaselineEmailParent {
  width: 468px;
  box-shadow: -4px 7px 4px rgba(0, 0, 0, 0.25);
  border: 5px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-6xl) var(--padding-6xs)
    var(--padding-377xl);
  gap: var(--gap-169xl);
  max-width: 100%;
}
.address {
  width: 468px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-kavoon);
}

@media screen and (max-width: 450px) {
  .address1 {
    font-size: var(--font-size-3xl);
  }
}
