textarea {   
  border: none;
  background: none;
  color: var(--color-black);
  font-family: var(--font-kavoon);
  font-size: 20px;
  margin: 0;
  padding: 0;  /* Removes padding inside the textarea */
  width: 100%; /* Full width of the containing element */
}

textarea:focus {
  outline: none;
}

.userName {
  width: 85%;
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  flex-shrink: 0;
}
.frameChild {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 2px;
  height: 40px;
}
.wpfnameIcon {
  position: absolute;
  top: 6.5px;
  left: 15px;
  width: 35px;
  height: 31px;
  overflow: hidden;
}
.vectorParent {
  align-self: stretch;
  height: 40px;
  position: relative;
}
.inputWrapper {
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xs-5) 0px 0px;
  box-sizing: border-box;
}
.userNameParent {
  flex: 1;
  box-shadow: -4px 7px 4px rgba(0, 0, 0, 0.25);
  border: 5px solid var(--color-black);
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: var(--padding-7xs) var(--padding-3xl) var(--padding-4xs)
    var(--padding-4xs);
  max-width: 100%;
  gap: var(--gap-xl);
}


.usernameInput {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--font-kavoon);
}

@media screen and (max-width: 900px) {
  .userName {
    font-size: var(--font-size-10xl);
  }
}
@media screen and (max-width: 450px) {
  .userName {
    font-size: var(--font-size-3xl);
  }

  .userNameParent {
    flex-wrap: wrap;
  }
}
