.addAQuestion1 {
    margin: 0;
    width: 1052px;
    position: relative;
    font-size: inherit;
    font-weight: 400;
    font-family: inherit;
    display: inline-block;
    max-width: 100%;
  }
  .ansParent {
    padding: 0 0 40px;
    box-sizing: border-box;
  }
  .ansGroup,
  .ansParent {
    width: 1319px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 100%;
    gap: 20px;
  }
  .addAQuestion,
  .frameParent {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    box-sizing: border-box;
  }
  .frameParent {
    width: 1399px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(17.2px);
    border-radius: 20px;
    border: 11px solid #9c5151;
    padding: 38px 29px 71px;
    gap: 82px;
    max-width: 100%;
  }
  .addAQuestion {
    width: 100%;
    position: relative;
    background: linear-gradient(243.37deg, #006c67, #00d2c8);
    padding: 18px 15px 21px;
    gap: 51px;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: 96px;
    color: #000;
    font-family: Kavoon;
  }
  @media screen and (max-width: 1300px) {
    .ansParent {
      justify-content: center;
    }
    .ansGroup,
    .ansParent {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1125px) {
    .frameParent {
      padding-top: 25px;
      padding-bottom: 46px;
      box-sizing: border-box;
    }
  }
  @media screen and (max-width: 800px) {
    .addAQuestion1 {
      font-size: 48px;
    }
    .frameParent {
      gap: 41px;
    }
    .addAQuestion {
      gap: 25px;
    }
  }
  @media screen and (max-width: 450px) {
    .addAQuestion1 {
      font-size: 29px;
    }
    .frameParent {
      gap: 20px;
      padding-top: 20px;
      padding-bottom: 30px;
      box-sizing: border-box;
    }
  }
  