.logo1Icon {
  width: 870px;
  height: 870px;
  position: absolute;
  margin: 0 !important;
  top: -90px;
  right: -53px;
  overflow: hidden;
  flex-shrink: 0;
}
.registerFormWrapper {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.createdByYoel {
  width: 566px;
  position: relative;
  letter-spacing: 0.01em;
  display: inline-block;
  max-width: 100%;
  margin-top: -117px;
}
.register {
  width: 100%;
  position: relative;
  background-color: var(--color-skyblue-100);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-52xl) 99px var(--padding-25xl) var(--padding-9xl);
  box-sizing: border-box;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  font-size: var(--font-size-17xl);
  color: var(--color-gray-100);
  font-family: var(--font-kavoon);
}

@media screen and (max-width: 900px) {
  .createdByYoel {
    font-size: var(--font-size-10xl);
  }

  .register {
    padding-right: var(--padding-30xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 450px) {
  .createdByYoel {
    font-size: var(--font-size-3xl);
  }

  .register {
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
}
